---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
---
Language: Cpp
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
AlignOperands: DontAlign
IndentCaseLabels: true
IndentExternBlock: NoIndent
BreakConstructorInitializers: AfterColon
NamespaceIndentation: None
FixNamespaceComments: true
SortIncludes: true
IncludeBlocks: Preserve
SpaceAfterTemplateKeyword: true
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Right
AlignTrailingComments: false
MaxEmptyLinesToKeep: 1
BreakAfterAttributes: Always